@model List<TechJobs6Persistent.Models.Employer>

<h1>Employers Currently Hiring</h1>

@if (Model.Count == 0)
{
    <p>No Employers have been listed yet!</p>
}
else
{
    <table class="table">
        <tr>
            <th>Id
            <th>Employer</th>
            <th>Location</th>
        </tr>
        @foreach (Employer employer in Model)
        {
            <tr>
                <td>@employer.Id</td>
                <td>@employer.Name</td>
                <td>@employer.Location</td>
            </tr>
        }
    </table>
}

<p><a asp-controller="Employer" asp-action="Create">Add an Employer</a></p>