@using TechJobs6Persistent.ViewModels
@model TechJobs6Persistent.ViewModels.AddJobViewModel; 

<h1>Add Job</h1>

<form asp-controller="Job" asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for= "Name"> Job Name</label>
        <input asp-for= "Name"class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <br />
 <div class="form-group">
        <label asp-for="EmployerId">Employer</label>
        <select asp-for="EmployerId" class="form-control" asp-items="Model.Employers">
            <option value="">Select Employer</option>
        </select>
        <span asp-validation-for="EmployerId" class="text-danger"></span>
        <br />
        <a asp-controller="Employer" asp-action="Add">Add a new employer</a>
    </div>

    <input type="submit" value="Add Job" />

</form>