@using TechJobs6Persistent.ViewModels


<h1>Add Job</h1>

<form asp-controller="Job" asp-action="Add" method="post">
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" />
        <span></span>
    </div>
    <br />

    <input type="submit" value="Add Job" />
</form>