@using TechJobs6Persistent.Models
@model List<Job>

@{
    ViewData["Title"] = "Tech Jobs Persistent";
}


<div class="text-center">
    <h1 class="display-4">Tech Jobs & Persistent Data</h1>
    @if (Model.Count == 0)
    {
        <p>No jobs yet!</p>
    }
    else
    {
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Employer</th>
            </tr>
            @foreach (var job in Model)
            {
                <tr>
                    <td><a asp-controller="Job" asp-action="Detail" asp-route-id="@job.Id">@job.Name</a></td>
                    <td>@job.Employer.Name</td>
                </tr>
            }
        </table>
    }
    </div>

    <p><a asp-controller="Job" asp-action="Add">Add Job</a></p>

    <p><a asp-controller="Job" asp-action="Delete">Delete Job</a></p>
